.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  width: 400px;
  margin-top: 20px;
}

.item-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px 5px #00000036;
}

#input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.BTN {
  background-color: aquamarine;
  padding: 10px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
}
